.edit-container {
  display: flex;
  justify-content: flex-end;
  .ant-btn {
    background-color: #fff;
    color: #222222;
    border: 1px solid #B9C6FF;;
    &:not(:disabled):hover {
      background-color: #B9C6FF;;
      color: #222222;
    }
    .github-logo {
      width: 30px;
    }
  }



  &__mobile-editor {
    display: none;
  }

  @media (max-width: 768px) {
    &__mobile-editor {
      display: block;
    }
    &__desktop-editor {
      display: none;
    }
  }
}