.navigation-link {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  &__logo-container {
    display: flex;
    align-items: flex-end;
    h3 {
      margin: 0;
      margin-left: 15px;
    }
    justify-content: center;
  }
  &__logo {
    img {
      width: 80px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__container-link{
    font-family: 'Oswald', sans-serif;
    padding-right: 10px;
  }
  &__sign-in {
    display: flex;
  }
}