.issue-item {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 80px calc(100% - 95%);
  color: #fff;
  padding: 50px 0 100px 0;
  &__box {
    border:4px solid #B9C6FF;
    width: 100%;
    background :#222222;
    padding: 3% 3% ;
    position: relative;
    border-radius: 4px;
    height: 300px;
    span {
      font-size: 10px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__label {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 5px;
  }
  &__label-progress {
    color: red;
  }
  &__title {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__markdown {
     height: 150px;
     overflow: hidden;
     background-color: #B9C6FF;
     padding: 5px;
     border-radius: 4px;
  }
  &__markdown-content {
    margin-top: 10px;
    max-height: 100px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .delete-button {
    color: #B9C6FF;
    border-color: #B9C6FF;
    min-width: none;
  }
  .edit-container {
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    gap: 30px calc(100% - 90%);

  }
  @media (max-width: 576px) {
    grid-template-columns: 100%;
  }
}