.repo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__box {
    width: 50%;
    height: 300px;
    border: 1px  solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}