.container{
  text-align: center;
  margin-bottom: 3vh;
  text-transform: uppercase;
  flex:1
}

.card{

  background-color: aquamarine;
  padding: 10px;
  text-transform: uppercase;
  margin: 2vh;
}

.flex{
  display: flex;
  margin-top: 5vh;
}