.issue-section {
  margin-top: 50px;
  padding: 0 10px;
  &__header {
    display: flex;
    .edit-container {
      margin-left: auto;
    }
    .search-input {
      margin-left: 10px;
      .ant-input-search {
        width: 100%;
      }
    }
  }
  &__no-more {
    text-align: center;
    color: #c4c4c4;
    margin: 30px 0;
    line-height: 240px;
  }
  &__dropDown {
    display: flex;
    justify-content: space-between;
    width: 320px;
  }
  @media (max-width: 768px) {
    &__header {
      flex-direction: column;
      gap: 20px
    }
    &__dropDown {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .search-input {
      margin: 0px;
      .ant-input-search {
        width: 100%;
        padding: 0 !important;
      }
    }
  }
}