.issue-item {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px calc(100% - 95%);
  color: #fff;
  &__box {
    border:4px solid #B9C6FF;
    width:100%;
    margin-bottom:50px;
    background:#333;
    padding:10%;
    position:relative;
  }
  .delete-button {
    position:absolute;
    top: 2%;
    right: 2%;
    color: #B9C6FF;
    border-color: #B9C6FF;
    min-width: none;
  }
}